/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "work-sans", sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* end global rules */
/* start media*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end media*/
/*home page*/

.header {
    position: relative;
    top: 13px;
    z-index: 2;
}
nav {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
nav a {
    text-decoration: none;
    color: #ffffff;
}
nav .logo {
    font-size: 23px;
    font-weight: 600;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffffff;
}
nav .mainnav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}
nav .mainnav li {
    margin-right: 26px;
}
nav .mainnav li.hide {
    display: none;
}
.background {
    background-image: url(./img/download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    bottom: 40px;
}